In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os

In [67]:
# Create dataset
def raw_df_generator(year):
    file_list = os.listdir(r'mta_data/%s'%str(year))
    df = pd.read_csv(r'mta_data/%s/%s'%(str(year), file_list[0]))

    for i in range (1,len(file_list)):
        df = pd.concat([df, pd.read_csv(r'mta_data/%s/%s'%(str(year), file_list[i]))], axis = 0)

    return df

In [68]:
raw_df_2022 = raw_df_generator(2022)

In [69]:
raw_df_2022.head(100)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/26/2022,03:00:00,REGULAR,7689737,2671257
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/26/2022,07:00:00,REGULAR,7689741,2671278
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/26/2022,11:00:00,REGULAR,7689758,2671380
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/26/2022,15:00:00,REGULAR,7689791,2671465
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,02/26/2022,19:00:00,REGULAR,7689858,2671530
...,...,...,...,...,...,...,...,...,...,...,...
95,A002,R051,02-03-00,59 ST,NQR456W,BMT,02/27/2022,23:00:00,REGULAR,1487468,5667881
96,A002,R051,02-03-00,59 ST,NQR456W,BMT,02/28/2022,03:00:00,REGULAR,1487470,5667893
97,A002,R051,02-03-00,59 ST,NQR456W,BMT,02/28/2022,07:00:00,REGULAR,1487473,5667958
98,A002,R051,02-03-00,59 ST,NQR456W,BMT,02/28/2022,11:00:00,REGULAR,1487479,5668511
99,A002,R051,02-03-00,59 ST,NQR456W,BMT,02/28/2022,15:00:00,REGULAR,1487528,5668706

In [71]:
raw_df_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2739787 entries, 0 to 211706
Data columns (total 11 columns):
 #   Column                                                                Dtype
---  ------                                                                -----
 0   C/A                                                                   object
 1   UNIT                                                                  object
 2   SCP                                                                   object
 3   STATION                                                               object
 4   LINENAME                                                              object
 5   DIVISION                                                              object
 6   DATE                                                                  object
 7   TIME                                                                  object
 8   DESC                                                                  object
 9   ENTRIES                                                               int64
 10  EXITS                                                                 int64
dtypes: int64(2), object(9)
memory usage: 250.8+ MB

In [72]:
raw_df_2022.describe()

,ENTRIES,EXITS
count,2.739787e+06,2.739787e+06
mean,4.290863e+07,3.453942e+07
std,2.234785e+08,1.970575e+08
min,0.000000e+00,0.000000e+00
25%,2.490380e+05,1.325570e+05
50%,1.354802e+06,8.856720e+05
75%,5.967922e+06,3.975252e+06
max,2.147319e+09,2.122443e+09

In [73]:
raw_df_2022["Entry"] = raw_df_2022.groupby('STATION')["ENTRIES"].diff()

In [74]:
raw_df_2022["Exit"] = raw_df_2022.groupby('STATION')["EXITS                                                               "].diff()

In [76]:
grouped_station = raw_df_2022.groupby('STATION')

In [78]:
grouped_station.first()

,C/A,UNIT,SCP,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Entry,Exit
STATION,,,,,,,,,,,,
1 AV,H007,R248,00-00-00,L,BMT,02/26/2022,03:00:00,REGULAR,15727954,18465387,0.0,0.0
103 ST,N037,R314,00-00-00,BC,IND,02/26/2022,00:00:00,REGULAR,15212310,12102331,12.0,37.0
103 ST-CORONA,R529,R208,00-00-00,7,IRT,02/26/2022,03:00:00,REGULAR,16757426,26758690,133.0,105.0
104 ST,J034,R007,00-00-00,JZ,BMT,02/26/2022,03:00:00,REGULAR,318370,265954,0.0,3.0
110 ST,R253,R181,00-00-00,6,IRT,02/26/2022,03:00:00,REGULAR,5264644,8690463,18.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
WOODLAWN,R294,R052,00-00-00,4,IRT,02/26/2022,03:00:00,REGULAR,9150252,7555506,46.0,47.0
WORLD TRADE CTR,N094,R029,01-00-00,ACE23,IND,02/26/2022,03:00:00,REGULAR,1084325,2108993,0.0,0.0
WTC-CORTLANDT,R106,R305,01-00-00,1,IRT,02/26/2022,00:00:00,REGULAR,161,149,0.0,0.0
YORK ST,N530,R301,00-00-00,F,IND,02/26/2022,00:00:00,REGULAR,511952,1145513,33.0,76.0
ZEREGA AV,R419,R326,00-00-00,6,IRT,02/26/2022,00:00:00,REGULAR,224683,942031,3.0,48.0

In [75]:
raw_df_2022.head(50000).to_excel('2022.xlsx')

379

In [44]:
print(f'Number of stations: { raw_df_2022["STATION"].nunique()}')

Number of stations: 379

In [79]:
wiki_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_New_York_City_Subway_stations")

In [95]:
wiki_df[4]

,Station complex,Station name,Services,Div,Line,Opened,Borough,Neighborhood,Ridership (2019),Rank
0,Fourth Avenue/Ninth Street,Fourth Avenue,NaN,IND,Culver Line,"October 7, 1933",Brooklyn,Park Slope,3924882,125
1,Fourth Avenue/Ninth Street,Ninth Street,NaN,BMT,Fourth Avenue Line,"June 22, 1915",Brooklyn,Park Slope,3924882,125
2,14th Street/Sixth Avenue,Sixth Avenue,NaN,BMT,Carnarsie Line,"June 30, 1924",Manhattan,Chelsea,14736035,17
3,14th Street/Sixth Avenue,14th Street,NaN,IND,Sixth Avenue Line,"December 15, 1940",Manhattan,Chelsea,14736035,17
4,14th Street/Sixth Avenue,14th Street,NaN,IRT,Broadwayâ€“Seventh Avenue Line,"July 1, 1918",Manhattan,Chelsea,14736035,17
5,14th Street/Eighth Avenue,Eighth Avenueâ€,NaN,BMT,Carnarsie Line,"May 30, 1931",Manhattan,Chelsea,14239275,18
6,14th Street/Eighth Avenue,14th Street,NaN,IND,Eighth Avenue Line,"September 10, 1932",Manhattan,Chelsea,14239275,18
7,14th Streetâ€“Union Square,14th Streetâ€“Union Square,NaN,BMT,Broadway Line,"September 4, 1917",Manhattan,Union Square,32385260,4
8,14th Streetâ€“Union Square,14th Streetâ€“Union Square,NaN,IRT,Lexington Avenue Line,"October 27, 1904",Manhattan,Union Square,32385260,4
9,14th Streetâ€“Union Square,Union Square,NaN,BMT,Carnarsie Line,"June 30, 1924",Manhattan,Union Square,32385260,4
10,42nd Streetâ€“Bryant Park/Fifth Avenue,Fifth Avenue,NaN,IRT,Flushing Line,"March 22, 1926",Manhattan,Midtown,17213702,13
11,42nd Streetâ€“Bryant Park/Fifth Avenue,42nd Streetâ€“Bryant Park,NaN,IND,Sixth Avenue Line,"December 15, 1940",Manhattan,Midtown,17213702,13
12,62nd Street/New Utrecht Avenue,62nd Street,NaN,BMT,West End Line,"June 24, 1916",Brooklyn,Borough Park,1501183,297
13,62nd Street/New Utrecht Avenue,New Utrecht Avenue,NaN,BMT,Sea Beach Line,"June 22, 1915",Brooklyn,Borough Park,1501183,297
14,Borough Hall/Court Street,Borough Hall,NaN,IRT,Broadwayâ€“Seventh Avenue Line,"April 15, 1919",Brooklyn,Downtown,10135722,28
15,Borough Hall/Court Street,Borough Hall,NaN,IRT,Eastern Parkway Line,"January 9, 1908",Brooklyn,Downtown,10135722,28
16,Borough Hall/Court Street,Court Street,NaN,BMT,Fourth Avenue Line,"August 1, 1920",Brooklyn,Downtown,10135722,28
17,Broadwayâ€“Lafayette Street/Bleecker Street,Bleecker Street,NaN,IRT,Lexington Avenue Line,"October 27, 1904",Manhattan,Greenwich Village,12455155,22
18,Broadwayâ€“Lafayette Street/Bleecker Street,Broadwayâ€“Lafayette Street,NaN,IND,Sixth Avenue Line,"January 1, 1936",Manhattan,Greenwich Village,12455155,22
19,Brooklyn Bridgeâ€“City Hall/Chambers Street,Brooklyn Bridgeâ€“City Hallâ€,NaN,IRT,Lexington Avenue Line,"October 27, 1904",Manhattan,Civic Center,9065146,32
20,Brooklyn Bridgeâ€“City Hall/Chambers Street,Chambers Street,NaN,BMT,Nassau Street Line,"August 4, 1913",Manhattan,Civic Center,9065146,32
21,Chambers Streetâ€“World Trade Center/ Park Place...,Chambers Street,NaN,IND,Eighth Avenue Line,"September 10, 1932",Manhattan,Financial District,20820549,9
22,Chambers Streetâ€“World Trade Center/ Park Place...,Cortlandt Street,NaN,BMT,Broadway Line,"January 5, 1918",Manhattan,Financial District,20820549,9
23,Chambers Streetâ€“World Trade Center/ Park Place...,Park Place,NaN,IRT,Broadwayâ€“Seventh Avenue Line,"July 1, 1918",Manhattan,Financial District,20820549,9
24,Chambers Streetâ€“World Trade Center/ Park Place...,World Trade Centerâ€,NaN,IND,Eighth Avenue Line,"September 10, 1932",Manhattan,Financial District,20820549,9
25,Court Squareâ€“23rd Street,Court Squareâ€,NaN,IND,Crosstown Line,"August 19, 1933",Queens,Long Island City,7033377,55
26,Court Squareâ€“23rd Street,Court Square,NaN,IRT,Flushing Line,"November 5, 1916",Queens,Long Island City,7033377,55
27,Court Squareâ€“23rd Street,Court Squareâ€“23rd Street,NaN,IND,Queens Boulevard Line,"August 28, 1939",Queens,Long Island City,7033377,55
28,Delancey Street/Essex Street,Delancey Street,NaN,IND,Sixth Avenue Line,"January 1, 1936",Manhattan,Lower East Side,8861296,34
29,Delancey Street/Essex Street,Essex Street,NaN,BMT,Nassau Street Line,"September 16, 1908",Manhattan,Lower East Side,8861296,34
30,Franklin Avenue/Botanic Garden,Botanic Garden,[b],BMT,Franklin Avenue Line,"September 30, 1928",Brooklyn,Crown Heights,4999385,92
31,Franklin Avenue/Botanic Garden,Franklin Avenueâ€“Medgar Evers College,NaN,IRT,Eastern Parkway Line,"August 23, 1920",Brooklyn,Crown Heights,4999385,92
32,Grand Centralâ€“42nd Street,Grand Centralâ€,[a],IRT,42nd Street Line,"October 27, 1904",Manhattan,Midtown,45745700,2
33,Grand Centralâ€“42nd Street,Grand Centralâ€“42nd Street,NaN,IRT,Flushing Line,"June 22, 1915",Manhattan,Midtown,45745700,2
34,Grand Centralâ€“42nd Street,Grand Centralâ€“42nd Street,NaN,IRT,Lexington Avenue Line,"July 17, 1918",Manhattan,Midtown,45745700,2
35,Jackson Heightsâ€“Roosevelt Avenue/74th Street,74th Streetâ€“Broadway,NaN,IRT,Flushing Line,"April 21, 1917",Queens,Jackson Heights,17077862,14
36,Jackson Heightsâ€“Roosevelt Avenue/74th Street,Jackson Heightsâ€“Roosevelt Avenue,NaN,IND,Queens Boulevard Line,"August 19, 1933",Queens,Jackson Heights,17077862,14
37,Lexington Avenue/51st Street,51st Street,NaN,IRT,Lexington Avenue Line,"July 17, 1918",Manhattan,Midtown,18957465,10
38,Lexington Avenue/51st Street,Lexington Avenueâ€“53rd Street,NaN,IND,Queens Boulevard Line,"August 19, 1933",Manhattan,Midtown,18957465,10
39,Lexington Avenue/59th Street,59th Street,NaN,IRT,Lexington Avenue Line,"July 17, 1918",Manhattan,Midtown,16760813,15
40,Lexington Avenue/59th Street,Lexington Avenueâ€“59th Street,NaN,BMT,Broadway Line,"September 1, 1919",Manhattan,Midtown,16760813,15
41,Metropolitan Avenue/Lorimer Street,Lorimer Street,NaN,BMT,Carnarsie Line,"June 30, 1924",Brooklyn,Williamsburg,4696924,100
42,Metropolitan Avenue/Lorimer Street,Metropolitan Avenue,NaN,IND,Crosstown Line,"July 1, 1937",Brooklyn,Williamsburg,4696924,100
43,South Ferry/Whitehall Street,South Ferryâ€,NaN,IRT,Broadwayâ€“Seventh Avenue Line,"March 16, 2009",Manhattan,Battery Park,10272682,27
44,South Ferry/Whitehall Street,Whitehall Streetâ€“South Ferry,NaN,BMT,Broadway Line,"September 20, 1918",Manhattan,Battery Park,10272682,27
45,Times Squareâ€“42nd Street/Port Authority Bus Te...,42nd Streetâ€“Port Authority Bus Terminal,NaN,IND,Eighth Avenue Line,"September 10, 1932",Manhattan,Times Square,65020294,1
46,Times Squareâ€“42nd Street/Port Authority Bus Te...,Times Squareâ€,[a],IRT,42nd Street Line,"October 27, 1904",Manhattan,Times Square,65020294,1
47,Times Squareâ€“42nd Street/Port Authority Bus Te...,Times Squareâ€“42nd Street,NaN,BMT,Broadway Line,"January 5, 1918",Manhattan,Times Square,65020294,1
48,Times Squareâ€“42nd Street/Port Authority Bus Te...,Times Squareâ€“42nd Street,NaN,IRT,Broadwayâ€“Seventh Avenue Line,"June 3, 1917",Manhattan,Times Square,65020294,1
49,Times Squareâ€“42nd Street/Port Authority Bus Te...,Times Squareâ€“42nd Street,NaN,IRT,Flushing Line,"March 14, 1927",Manhattan,Times Square,65020294,1